header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
header .fa-brands {
  color: black;
}
header .header_row {
  padding: 0 30px;
  width: 100%;
  margin: auto;
  max-width: 1260px;
}
header .header_row .header_menu {
  padding-top: 22px;
  display: flex;
  align-items: center;
}
header .header_row .header_menu .header_leftBar ul {
  display: flex;
  margin: auto;
}
header .header_row .header_menu .header_leftBar li {
  list-style-type: none;
  margin: 0;
  padding: 0 40px 0 0;
}
header .header_row .header_menu .header_leftBar a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
header .header_row .header_menu .header_rightBar {
  float: right;
}
header .header_row .header_menu .header_rightBar .topBarInMenuCell {
  display: flex;
  align-items: center;
}
header .header_row .header_menu .header_rightBar .topBarInMenuCell .btButtonWidgetLink {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #b61984;
  color: white;
  height: 40px;
  overflow: hidden;
  padding: 1.1em 1.5em;
}
header .header_row .header_menu .header_rightBar .topBarInMenuCell .btButtonWidgetLink .btIconWidgetIcon {
  padding-right: 0.5em;
}
header .header_row .header_menu .header_rightBar .topBarInMenuCell .menu_icon {
  margin-left: 10px;
}

.page_body img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.page_body .aboutUs .aboutUs_post {
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  z-index: 3;
  position: absolute;
  top: 100px;
}
.page_body .aboutUs .aboutUs_post .post_image img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.page_body .aboutUs .cover_image_1 img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.page_body .aboutUs .cover_image_2 {
  margin-top: 100px;
}
.page_body .aboutUs .cover_image_2 img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.page_body .ourTeam {
  padding: 30px 0 0;
  background-image: url(../images/Wave_White_bottom_right_shape_01.png);
  background-color: #DCD1F3;
  background-size: cover;
}
.page_body .ourTeam .outTeam_content {
  width: 1200px;
  max-width: -webkit-calc(100% - 60px);
  max-width: -moz-calc(100% - 60px);
  max-width: calc(100% - 60px);
}
.page_body .ourTeam .outTeam_content .row .ourTeam_col {
  display: flex;
  justify-content: flex-start;
  padding: 0 30px;
}
.page_body .ourTeam .outTeam_content .row .ourTeam_col .item {
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.page_body .ourTeam .outTeam_content .row .ourTeam_col .item .context {
  text-align: center;
  line-height: 25px;
}
.page_body .ourTeam .outTeam_content .row .ourTeam_col .item .context .headline {
  color: #b61984;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 20px;
}
.page_body .ourTeam .outTeam_content .row .ourTeam_col .item .context .teacher_name {
  font-weight: 700;
}
.page_body .ourTeam .outTeam_content .row .ourTeam_col .item .context p {
  margin-bottom: 40px;
}
.page_body .contactUs input, .page_body .contactUs textarea {
  border-radius: 50px;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  padding: 1em 1em 1em 0.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
}
.page_body .contactUs .btContactButton {
  max-width: 150px;
  padding-top: 2em;
}
.page_body .contactUs .btContactButton .btnSubmit {
  color: #DCD1F3;
  background: #b61984;
  height: 4em;
  border: none;
}
.page_body .contactUs .content {
  width: 100%;
}
.page_body .contactUs .content .row .col .conatct_inner {
  padding: 0 20px;
}
.page_body .contactUs .content .row .col .find_yourC {
  padding: 0 20px;
}
.page_body .contactUs .content .row .col .find_yourC .contactUs_headLine {
  font-size: 37.5px;
  text-align: center;
  font-weight: 800;
}
.page_body .contactUs .content .row .col .find_yourC .contactUs_fill .khai .info_form .btContactName {
  flex: 1 0 50%;
  max-width: 50%;
  padding-right: 1em;
  position: relative;
}
.page_body .contactUs .content .row .col .find_yourC .contactUs_fill .khai .info_form textarea {
  padding: 1em 1em 1em 3.5em !important;
  height: 90px !important;
  line-height: 1.5;
  font-size: 0.8em !important;
}